<h1 ng-show="team.isAdd">Add Team</h1>
<h1 ng-hide="team.isAdd">Edit Team</h1>
<form name="teamForm" class="form-horizontal" ng-submit="team.save(team.team)" novalidate>
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-4">
      <input class="form-control" name="name" id="name" placeholder="Name" type="text" required
             ng-model="team.team.name">
    </div>
  </div>

  <div class="form-group">
    <label for="abbreviation" class="col-sm-2 control-label">Abbreviation</label>
    <div class="col-sm-4">
      <input class="form-control" name="abbreviation" id="abbreviation" placeholder="Abbreviation" type="text" required
             ng-model="team.team.abbreviation">
    </div>
  </div>

  <div class="form-group">
    <label for="managerId" class="col-sm-2 control-label">Manager</label>
    <div class="col-sm-4">
      <consultant-select ng-model="team.team.managerId" name="managerId" id="managerId" default-value="Select a Manager"/>
    </div>
  </div>

  <div class="form-group">
    <label for="parentTeamId" class="col-sm-2 control-label">Parent Team</label>
    <div class="col-sm-4">
      <team-select ng-model="team.team.parentTeamId" id="parentTeamId" name="parentTeamId"/>
    </div>
  </div>

  <div class="form-group">
    <label for="order" class="col-sm-2 control-label">Order</label>
    <div class="col-sm-4">
      <input class="form-control" name="order" id="order" placeholder="Order" type="number" required
             ng-model="team.team.order">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
      <button type="submit" class="btn btn-primary" ng-disabled="teamForm.$invalid">Save</button>
    </div>
  </div>
</form>