<div class="row">
  <h1 class="col-md-6">{{ client.client.name }}</h1>
  <div class="col-md-6 page-actions">
    <div class="btn-group pull-right">
      <a class="btn btn-default" ng-href="#/client/{{ client.client.id }}/edit">Edit</a>
      <button type="button" class="btn btn-danger" ng-click="client.remove(client.client)">Delete</button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-2 view-label">Client Partner:</div>
  <div class="col-md-4" ng-if="client.client.clientPartner">{{ client.client.clientPartner.name }}</div>
</div>